.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2;
}
.card-container {
  margin: 3rem 3rem;
  border-radius: 1rem;
  display: flex;
  width: 70vh;
  justify-content: center;
  box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.39);
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.card-image-wrapper {
  width: 70vh;
 
  height: auto;
}
.card-image-wrapper img {
  border-top-left-radius: 1rem;
  transition: transform .3s ease-out ;
  border-top-right-radius: 1rem;

  width: 100%;
  object-fit: cover;
}
.card-image-wrapper img:hover{
transform: scale(1.02);
}
.card-description {
  width: 70vh;
}
.card-name {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
.card-description {
  font-size: 2rem;
  text-overflow: unset;
  font-weight: 700;
  line-height: 3rem;
  word-spacing: 0.2rem;
  color: rgb(246, 246, 246);
}
.card-price-group {
  font-size: 2rem;
  color: aliceblue;
  font-weight: 700;
}
.card-indvidual-price {
  font-size: 2rem;
  color: aliceblue;
  font-weight: 700;
}
.pr {
  color: var(--secondary-color);
}
.dollar {
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn-name {
  font-size: 2rem;
  font-weight: 700;
}
.card-button {
  padding: 2rem 3rem;
  background-color: var(--color-blue);
  border: none;
  color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);

  transition: all 1s;
}
.card-button:hover {
  cursor: pointer;
  color: black;
  background-color: aliceblue;
}
@media screen and (max-width: 43.75em) {
  .card-description,
  .card-image-wrapper,
  .card-container {
    width: 50vh;
  }
}
@media screen and (max-width: 28.4375em) {
  .card-description,
  .card-image-wrapper,
  .card-container {
    width: 30vh;
  }
  .card-price-group,
  .card-indvidual-price,
  .btn-name {
    font-size: 1.5rem;
  }
  .card-description {
    line-height: 2rem;
    word-spacing: 0;
    font-size: 1.5rem;
  }
  .card-button {
    padding: 1rem 2rem;
  }
  .card-name {
    font-size: 2rem;
  }
}
